In [1]:
import pandas as pd
import numpy as np
bsbl = pd.read_csv('bsbl_data.csv')
bsbl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20774 entries, 0 to 20773
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bsbl_id                 20774 non-null  object
 1   bs_theme                20774 non-null  object
 2   bs_subtheme             17070 non-null  object
 3   bs_year                 20774 non-null  int64
 4   bs_name                 20774 non-null  object
 5   bs_minifigures          9059 non-null   float64
 6   bs_pieces               16270 non-null  float64
 7   bs_rrp                  13285 non-null  float64
 8   bs_owned                20774 non-null  int64
 9   bs_owned_new            20774 non-null  int64
 10  bs_owned_used           20774 non-null  int64
 11  bs_wanted               20774 non-null  int64
 12  bs_value_new            13465 non-null  float64
 13  bs_value_used           11990 non-null  float64
 14  bl_sold_qty_new         9354 non-null   float64
 15  bl_sold_avgprice_new    9354 non-null   float64
 16  bl_sold_qty_used        8304 non-null   float64
 17  bl_sold_avgprice_used   8304 non-null   float64
 18  bl_offer_qty_new        12010 non-null  float64
 19  bl_offer_avgprice_new   12010 non-null  float64
 20  bl_offer_qty_used       11390 non-null  float64
 21  bl_offer_avgprice_used  11390 non-null  float64
dtypes: float64(13), int64(5), object(4)
memory usage: 3.5+ MB

In [2]:
old = pd.read_csv('prices_sets_age_themesE.csv')
big_merge = pd.merge(old, bsbl, how = 'outer', left_on = 'set_id',right_on='bsbl_id') #merging with the dataset containing "old" prices
big_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25201 entries, 0 to 25200
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Packaging               14936 non-null  object
 1   Num_Instructions        14936 non-null  float64
 2   Availability            14936 non-null  object
 3   Owned                   14771 non-null  float64
 4   Rating                  14936 non-null  float64
 5   Total_Quantity          12276 non-null  float64
 6   Current_Price           5442 non-null   float64
 7   set_id                  24505 non-null  object
 8   name                    24505 non-null  object
 9   year                    24505 non-null  float64
 10  agerange_min            6787 non-null   float64
 11  bricksetURL             18457 non-null  object
 12  thumbnailURL            17451 non-null  object
 13  num_pieces              23126 non-null  float64
 14  set_theme               23095 non-null  object
 15  set_theme_group         23058 non-null  object
 16  set_subtheme            15332 non-null  object
 17  set_category            18958 non-null  object
 18  minifigures             8582 non-null   float64
 19  retail_price            7276 non-null   float64
 20  image_url               24180 non-null  object
 21  percent_price_dif       3612 non-null   float64
 22  r_main_theme            22587 non-null  object
 23  r_theme                 13274 non-null  object
 24  r_sub_theme             696 non-null    object
 25  bsbl_id                 20774 non-null  object
 26  bs_theme                20774 non-null  object
 27  bs_subtheme             17070 non-null  object
 28  bs_year                 20774 non-null  float64
 29  bs_name                 20774 non-null  object
 30  bs_minifigures          9059 non-null   float64
 31  bs_pieces               16270 non-null  float64
 32  bs_rrp                  13285 non-null  float64
 33  bs_owned                20774 non-null  float64
 34  bs_owned_new            20774 non-null  float64
 35  bs_owned_used           20774 non-null  float64
 36  bs_wanted               20774 non-null  float64
 37  bs_value_new            13465 non-null  float64
 38  bs_value_used           11990 non-null  float64
 39  bl_sold_qty_new         9354 non-null   float64
 40  bl_sold_avgprice_new    9354 non-null   float64
 41  bl_sold_qty_used        8304 non-null   float64
 42  bl_sold_avgprice_used   8304 non-null   float64
 43  bl_offer_qty_new        12010 non-null  float64
 44  bl_offer_avgprice_new   12010 non-null  float64
 45  bl_offer_qty_used       11390 non-null  float64
 46  bl_offer_avgprice_used  11390 non-null  float64
dtypes: float64(29), object(18)
memory usage: 9.0+ MB

In [3]:
big_merge['set_id']=big_merge[['set_id','bsbl_id']].bfill(axis=1).iloc[:, 0] #merging columns into 1, primarily keeping Rebrickable data (unless indicated otherwise)
big_merge['name']=big_merge[['name','bs_name']].bfill(axis=1).iloc[:, 0]
big_merge['set_theme']=big_merge[['set_theme','bs_theme']].bfill(axis=1).iloc[:, 0]
big_merge['set_subtheme']=big_merge[['set_subtheme','bs_subtheme']].bfill(axis=1).iloc[:, 0]
big_merge['year']=big_merge[['year','bs_year']].bfill(axis=1).iloc[:, 0]
big_merge['minifigures']=big_merge[['minifigures','bs_minifigures']].bfill(axis=1).iloc[:, 0]
big_merge['num_pieces']=big_merge[['num_pieces','bs_pieces']].bfill(axis=1).iloc[:, 0]
big_merge.drop(columns = ['bsbl_id','bs_name','bs_theme','bs_subtheme','bs_year','bs_minifigures','bs_pieces'],inplace = True)

In [4]:
problem = big_merge[(big_merge['bs_rrp'] != big_merge['retail_price']) & big_merge['bs_rrp'].notnull() & big_merge['retail_price'].notnull()]
problem['price-dif'] = problem['retail_price']-problem['bs_rrp']
problem[['set_id','bs_rrp','retail_price','price-dif']].sort_values('price-dif') #checking for the differences in the retail prices from the two data sources, there are only a few

C:\Users\A\AppData\Local\Temp\ipykernel_12568\546667842.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  problem['price-dif'] = problem['retail_price']-problem['bs_rrp']

          set_id  bs_rrp  retail_price  price-dif
24356  5006866-1   54.99         34.99      -20.0
23786  5004895-1   54.99         34.99      -20.0
13751    45400-1  149.95        133.95      -16.0
13752    45401-1  149.95        133.95      -16.0
13198    45028-1  299.95        284.95      -15.0
9649     45002-1  249.95        239.95      -10.0
10180    45005-1  169.95        159.95      -10.0
11704    45024-1  219.95        209.95      -10.0
12230    45025-1  249.95        239.95      -10.0
18045  5006622-1   26.99         19.99       -7.0
13757    45681-1  139.95        133.95       -6.0
13196    45026-1  174.95        169.95       -5.0
13755    45609-1  219.95        214.95       -5.0
18041  5006607-1   13.99         11.99       -2.0
14577    40647-1   14.99         12.99       -2.0
14576    40646-1   14.99         12.99       -2.0
14078    40524-1   14.99         12.99       -2.0
13756    45612-1   71.95         69.95       -2.0
13577    40460-1   14.99         12.99       -2.0
24405  5007004-1    4.99          3.99       -1.0
24409  5007008-1    4.99          3.99       -1.0
20126   851354-1    4.99         39.99       35.0
18152  5007109-1   59.99         99.99       40.0
18153  5007110-1   65.99        109.99       44.0
18157  5007114-1   65.99        109.99       44.0
11062    40179-1   79.99        129.99       50.0
18150  5007107-1   77.99        129.99       52.0
18155  5007112-1   77.99        129.99       52.0
18151  5007108-1   89.99        149.99       60.0

In [5]:
big_merge['retail_price']=big_merge[['bs_rrp','retail_price']].bfill(axis=1).iloc[:, 0] #in this case I am keeping primarily the data from the scraped websites as they are newer
big_merge.drop(columns = 'bs_rrp',inplace = True)

In [6]:
problem = big_merge[(big_merge['bs_owned'] != big_merge['Owned']) & big_merge['bs_owned'].notnull() & big_merge['Owned'].notnull() & big_merge['bs_owned'] != 0]
problem[['set_id','bs_owned','Owned']] #no differences found

Empty DataFrame
Columns: [set_id, bs_owned, Owned]
Index: []

In [7]:
big_merge['Owned']=big_merge[['Owned','bs_owned']].bfill(axis=1).iloc[:, 0]
big_merge.drop(columns = 'bs_owned',inplace = True)
big_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25201 entries, 0 to 25200
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Packaging               14936 non-null  object
 1   Num_Instructions        14936 non-null  float64
 2   Availability            14936 non-null  object
 3   Owned                   20787 non-null  float64
 4   Rating                  14936 non-null  float64
 5   Total_Quantity          12276 non-null  float64
 6   Current_Price           5442 non-null   float64
 7   set_id                  25201 non-null  object
 8   name                    25201 non-null  object
 9   year                    25201 non-null  float64
 10  agerange_min            6787 non-null   float64
 11  bricksetURL             18457 non-null  object
 12  thumbnailURL            17451 non-null  object
 13  num_pieces              23408 non-null  float64
 14  set_theme               24007 non-null  object
 15  set_theme_group         23058 non-null  object
 16  set_subtheme            17109 non-null  object
 17  set_category            18958 non-null  object
 18  minifigures             9074 non-null   float64
 19  retail_price            13285 non-null  float64
 20  image_url               24180 non-null  object
 21  percent_price_dif       3612 non-null   float64
 22  r_main_theme            22587 non-null  object
 23  r_theme                 13274 non-null  object
 24  r_sub_theme             696 non-null    object
 25  bs_owned_new            20774 non-null  float64
 26  bs_owned_used           20774 non-null  float64
 27  bs_wanted               20774 non-null  float64
 28  bs_value_new            13465 non-null  float64
 29  bs_value_used           11990 non-null  float64
 30  bl_sold_qty_new         9354 non-null   float64
 31  bl_sold_avgprice_new    9354 non-null   float64
 32  bl_sold_qty_used        8304 non-null   float64
 33  bl_sold_avgprice_used   8304 non-null   float64
 34  bl_offer_qty_new        12010 non-null  float64
 35  bl_offer_avgprice_new   12010 non-null  float64
 36  bl_offer_qty_used       11390 non-null  float64
 37  bl_offer_avgprice_used  11390 non-null  float64
dtypes: float64(24), object(14)
memory usage: 7.3+ MB

In [8]:
big_merge.drop(columns = ['percent_price_dif','Total_Quantity','Current_Price'],inplace = True) #these are old prices columns which we cannot use now

In [9]:
# replacing zeroes with nulls where zeroes do not make logical sense
big_merge['retail_price'] = big_merge['retail_price'].replace(0,np.nan)
big_merge['Owned'] = big_merge['Owned'].replace(0,np.nan)
big_merge['Rating'] = big_merge['Rating'].replace(0,np.nan)
big_merge['bs_owned_new'] = big_merge['bs_owned_new'].replace(0,np.nan)
big_merge['bs_owned_used'] = big_merge['bs_owned_used'].replace(0,np.nan)

In [10]:
#calculations to be used for our analyses and visualizations later
big_merge['bl_percent_price_increase_new'] = big_merge['bl_sold_avgprice_new']/big_merge['retail_price']-1
big_merge['bl_percent_price_increase_used'] = big_merge['bl_sold_avgprice_used']/big_merge['retail_price']-1
big_merge['bl_price_increase_new'] = big_merge['bl_sold_avgprice_new'] - big_merge['retail_price']
big_merge['bl_price_increase_used'] = big_merge['bl_sold_avgprice_used'] - big_merge['retail_price']

In [11]:
#additional data cleaning for themes to unify some names which only differ in spelling, etc.
big_merge['set_theme'] = big_merge['set_theme'].replace('Collectable minifigures','Collectable Minifigures')
big_merge['set_theme'] = big_merge['set_theme'].replace('Creator','Creator Expert')
big_merge['set_theme'] = big_merge['set_theme'].replace('DUPLO','Duplo')
big_merge['set_theme'] = big_merge['set_theme'].replace('Educational','Education')
big_merge['set_theme'] = big_merge['set_theme'].replace('LEGOLAND','Legoland')
big_merge['set_theme'] = big_merge['set_theme'].replace('Promotional ','Promotional')
big_merge['set_theme_group'] = big_merge['set_theme_group'].replace('Constraction','Construction')
big_merge['r_theme'] = big_merge['r_theme'].replace('Constraction','Construction')

In [12]:
big_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25201 entries, 0 to 25200
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Packaging                       14936 non-null  object
 1   Num_Instructions                14936 non-null  float64
 2   Availability                    14936 non-null  object
 3   Owned                           14771 non-null  float64
 4   Rating                          7038 non-null   float64
 5   set_id                          25201 non-null  object
 6   name                            25201 non-null  object
 7   year                            25201 non-null  float64
 8   agerange_min                    6787 non-null   float64
 9   bricksetURL                     18457 non-null  object
 10  thumbnailURL                    17451 non-null  object
 11  num_pieces                      23408 non-null  float64
 12  set_theme                       24007 non-null  object
 13  set_theme_group                 23058 non-null  object
 14  set_subtheme                    17109 non-null  object
 15  set_category                    18958 non-null  object
 16  minifigures                     9074 non-null   float64
 17  retail_price                    13124 non-null  float64
 18  image_url                       24180 non-null  object
 19  r_main_theme                    22587 non-null  object
 20  r_theme                         13274 non-null  object
 21  r_sub_theme                     696 non-null    object
 22  bs_owned_new                    0 non-null      float64
 23  bs_owned_used                   0 non-null      float64
 24  bs_wanted                       20774 non-null  float64
 25  bs_value_new                    13465 non-null  float64
 26  bs_value_used                   11990 non-null  float64
 27  bl_sold_qty_new                 9354 non-null   float64
 28  bl_sold_avgprice_new            9354 non-null   float64
 29  bl_sold_qty_used                8304 non-null   float64
 30  bl_sold_avgprice_used           8304 non-null   float64
 31  bl_offer_qty_new                12010 non-null  float64
 32  bl_offer_avgprice_new           12010 non-null  float64
 33  bl_offer_qty_used               11390 non-null  float64
 34  bl_offer_avgprice_used          11390 non-null  float64
 35  bl_percent_price_increase_new   6988 non-null   float64
 36  bl_percent_price_increase_used  6562 non-null   float64
 37  bl_price_increase_new           6988 non-null   float64
 38  bl_price_increase_used          6562 non-null   float64
dtypes: float64(25), object(14)
memory usage: 7.5+ MB

In [13]:
big_merge.drop(columns=['bs_owned_new','bs_owned_used'],inplace=True) #these only contain null values after replacing zeroes

In [14]:
big_merge.to_csv('big_merge.csv',index=False)